$primary: #242edb;
$primary_dark: #131bac;
$secondary: #999999;
$dark: #000000;
$dark_light: #232323;
$danger: #f11010;
$ghost_1: #d8d8d8;
$ghost_2: #cfcfcf;
$ghost_3: #ededed;
$ghost_4: #e0e0e0;
$ghost_5: #ebebeb;
$light: #ffffff;
$boxShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
