@use "./variables" as *;
@use "./_reset.scss" as *;

body {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	background-color: $ghost_5;
	color: $dark;
}

main {
	min-height: 100vh;
}

.centerText {
	text-align: center;
}
