@use "./variables" as *;
@use "./_reset.scss" as *;

body {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	background-color: $ghost_5;
	color: $dark;
}

main {
	min-height: 100vh;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}
.centerText {
	text-align: center;
}
