.main {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wrapper {
	background: $light;
	border-radius: 34px;
	padding: 6px;
}

.inner {
	background: #fafafa;
	padding: 48px;
	border-radius: 34px;
	border: 1px solid $ghost_3;
	box-shadow: $boxShadow;
}

.top {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 32px;
}

.logo {
	margin-bottom: 32px;
}

.title {
	margin-bottom: 12px;
}

.subtile {
	color: $ghost_1;
	font-size: 18px;
}

.bottom {
	margin-top: 16px;
	width: 100%;
}

.divider {
	display: flex;
	align-items: center;
	width: 100%;
	color: $ghost_1;
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 32px;

	&::before,
	&::after {
		content: "";
		width: 100%;
		display: block;
		height: 1px;
		background: $ghost_1;
	}

	&::before {
		margin-right: 16px;
	}

	&::after {
		margin-left: 16px;
	}
}

.footer {
	display: flex;
	justify-content: center;
	gap: 8px;
	color: $secondary;
	font-size: 18px;
	font-weight: 400;
	a {
		color: $primary;
	}
}
