.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition:
		opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
		visibility 0.5s;
}

.open {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	z-index: 12;
}

.content {
	background: $light;
	border: 1px solid $ghost_3;
	padding: 24px;
	border-radius: 8px;
	position: relative;
	max-width: 450px;
	width: 100%;
}

.close {
	background: none;
	border: none;
	cursor: pointer;
}

.header {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 15px;
}
