.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.inputs {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.field {
	display: flex;
	flex-direction: column;
	gap: 6px;
	label {
		font-weight: 500;
		font-size: 18px;
		color: $dark_light;
	}
}

.remember {
	display: flex;
	gap: 10px;
	span {
		font-weight: 500;
		font-size: 16px;
		color: $secondary;
	}
}
.error {
	color: $danger;
	font-weight: 500;
	font-size: 16px;
}

.center {
	text-align: center;
}
