.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.inputs {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.remember {
	display: flex;
	gap: 10px;
	span {
		font-weight: 500;
		font-size: 16px;
		color: $secondary;
	}
}

.button {
	display: flex;
	justify-content: center;
}
.inputWrapper {
	position: relative;
}
.icon {
	position: absolute;
	right: 26px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	background: none;
	border: none;
}
