.table {
	width: 100%;
	border-spacing: 0;
	position: relative;
}
.header {
	position: sticky;
	top: 0;
	background: $light;
	z-index: 2;
	th {
		padding: 27px 0;
		border-bottom: 1px solid $ghost_3;
		h6 {
			color: $ghost_2;
		}
	}
}
