.table {
	width: 100%;
	border-spacing: 0;
	position: relative;
	transition: opacity 0.2s ease;
}
.header {
	position: sticky;
	top: 0;
	background: $light;
	z-index: 2;
	th {
		padding: 27px 0;
		border-bottom: 1px solid $ghost_3;
		h6 {
			color: $ghost_2;
		}
	}
}

.sorted {
	cursor: pointer;
	transition: all 0.2s ease;
	&:hover {
		h6 {
			color: $primary;
			text-decoration: underline;
		}
	}
}

.loading {
	opacity: 0.6;
}

.label {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	span {
		color: $primary;
	}
}
