.button {
	align-items: center;
	gap: 15px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.action {
	display: flex;
	align-items: center;
	gap: 8px;
}

.error {
	color: $danger;
	font-weight: 500;
	font-size: 16px;
}
