.wrapper {
	margin-top: 30px;
	background: $light;
	width: 100%;
	min-height: 100%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

.inner {
	padding: 30px 0;
}

.bottom {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	button {
		min-width: 200px;
	}
}
