.wrapper {
	margin-top: 30px;
	background: $light;
	width: 100%;
	min-height: 100%;
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

.inner {
	padding: 30px 0;
}
