.button {
	cursor: pointer;
	display: inline-block;
	border: none;
	font-family: inherit;
}

.primary {
	background-color: $primary;
	color: $light;
	border-radius: 12px;
	transition: all 0.2s ease;
	&:hover {
		background-color: darken($primary, 10%);
	}
}

.size {
	&-sm {
		padding: 0;
	}
	&-md {
		padding: 10px;
	}
	&-lg {
		padding: 16px;
	}
}
