.button {
	cursor: pointer;
	display: inline-block;
	border: none;
	font-family: inherit;
	&:disabled {
		opacity: 0.6;
		cursor: not-allowed;
	}
}

.primary {
	background-color: $primary;
	color: $light;
	border-radius: 12px;
	transition: all 0.2s ease;
	display: flex;
	justify-content: center;
	&:hover {
		background-color: $primary_dark;
	}
}

.size {
	&-sm {
		padding: 0;
	}
	&-md {
		padding: 10px;
	}
	&-lg {
		padding: 16px;
	}
}
